<footer>
    <div class="footer-content">
        <div>
            <h4>ByteBites partner</h4>
            <a href="#">Futárként</a>
            <a href="#">Éttermeként</a>
        </div>
        <div>
            <h4>Cég</h4>
            <a href="#">Rólunk</a>
            <a href="#">Mit képviselünk</a>
            <a href="#">Állások</a>
            <a href="#">Biztonság</a>
            <a href="#">Befektetők</a>
        </div>
        <div>
            <h4>Hasznos linkek</h4>
            <a href="#">Ügyfélszolgálat</a>
            <a href="#">Adatkezelés</a>
            <a href="#">Kapcsolat</a>
        </div>
        <div>
            <h4>Kövess minket</h4>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Griff</a>
            <a href="#">LinkedIn</a>
            <a href="#">X</a>
        </div>
    </div>
</footer>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
