<head th:fragment="head">
  <meta charset="UTF-8" />
  <title th:text="${pageTitle}">BYTEBITES</title>
  <link rel="stylesheet" th:href="@{/css/header-footer.css}" />
  <link rel="stylesheet" th:href="@{/css/{cssFile}(cssFile=${cssFile})}" />
</head>
<body>
  <header>
    <a th:href="@{/index}"><h1>BYTEBITES</h1></a>
    <div>
    </div>
    <div class="buttons">
      <!-- TODO: A fejlesztési fázis idejére fel van cserélve az, hogy mikor mutassa a login/register page-et, és mikor a user/kosár gombokat -->
      <a
        th:if="${username != null}"
        th:href="@{/login}"
        class="login"
        id="login-btn"
        >Bejelentkezés</a
      >
      <a
        th:if="${username != null}"
        th:href="@{/register}"
        class="register"
        id="register-btn"
        >Regisztráció</a
      >
      <div
        th:if="${username == null}"
        class="user-container"
        id="user-container"
      >
        <span
                id="username"
                class="username register"
                th:text="${session.user != null ? session.user.firstName + ' ' + session.user.lastName : 'Guest'}"
        >Guest</span>

        <div class="dropdown">
          <ul>
            <li><a th:href="@{/profile}">Profilom</a></li>
            <li id="admin-link">Admin</li>
            <li><a th:href="@{/earlierOrders}">Rendeléseim</a></li>
            <li><a th:href="@{/favorites}">Kedvenceim</a></li>
            <li>Ügyfélszolgálat</li>
            <li>Segítség</li>
            <li><a th:href="@{/logout}">Kijelentkezés</a></li>
          </ul>
        </div>
        <a th:href="@{/cart}" id="cart-icon" class="cart-icon">Kosár</a>
      </div>
    </div>

    <div id="admin-menu" class="admin-menu hidden">
      <ul class="section-header">
        <li><a th:href="@{/dashboard}">Vezérlőpult</a></li>
        <li><a th:href="@{/adminOrders}">Rendelések</a></li>
        <div class="section-divider"></div>

        <li class="section-header">Users</li>
        <li><a th:href="@{/employees}">Alkalmazottak</a></li>
        <li><a th:href="@{/endUsers}">Felhasználók</a></li>

        <div class="section-divider"></div>

        <li class="section-header">Admin</li>
        <li><a th:href="@{/restaurant}">Éttermek</a></li>
        <li><a th:href="@{/city}">Városok</a></li>
        <li><a th:href="@{/categories}">Kategóriák</a></li>
        <li>System settings</li>
      </ul>
    </div>
  </header>
<script th:src="@{/js/header.js}"></script>
</body>
