<head th:fragment="head">
  <meta charset="UTF-8" />
  <title th:text="${pageTitle}">BYTEBITES</title>
  <link rel="stylesheet" th:href="@{/css/header-footer.css}" />
  <link rel="stylesheet" th:href="@{/css/{cssFile}(cssFile=${cssFile})}" />
</head>
<body>
  <header>
    <a th:href="@{/index}"><h1>BYTEBITES</h1></a>
    <div>
      <!-- TODO: Debug miatt van benne, a fejlesztési folyamat során szükséges -->
      <p
        th:text="'Bejelentkezett állapot: ' + ${#authentication?.authenticated}"
      >
        Debug info
      </p>
    </div>
    <div class="buttons">
      <a
        th:if="${username == null}"
        th:href="@{/login}"
        class="login"
        id="login-btn"
        >Bejelentkezés</a
      >
      <a
        th:if="${username == null}"
        th:href="@{/register}"
        class="register"
        id="register-btn"
        >Regisztráció</a
      >
      <div
        th:if="${username != null}"
        class="user-container"
        id="user-container"
      >
        <span
          id="username"
          class="username register"
          th:text="${#authentication?.name != null ? #authentication.name : 'Guest'}"
          >USERNAME</span
        >
        <div class="dropdown">
          <ul>
            <li>Profilom</li>
            <li>Admin</li>
            <li>Rendeléseim</li>
            <li>Kedvenceim</li>
            <li>Ügyfélszolgálat</li>
            <li>Segítség</li>
            <li><a th:href="@{/logout}">Kijelentkezés</a></li>
          </ul>
        </div>
        <a th:href="@{/cart}" id="cart-icon" class="cart-icon">Kosár</a>
      </div>
    </div>
  </header>
</body>
