<!DOCTYPE html>
<html lang="hu">
  <head th:replace="~{fragments/header :: head(cssFile='cart.css')}"></head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="cart-title-bar">
      <h2>Kosár tartalma:</h2>
    </div>
    <div class="center-wrapper">
      <div class="container">
        <div class="cart-items">
          <div class="cart-item">
            <img th:src="@{/img/elsodleges/}" alt="Kaja kép" />
            <div class="item-details">
              <strong>Étel neve</strong>
              <p>Étterem neve</p>
            </div>
            <div class="item-quantity">
              <button>-</button>
              <input type="number" value="1" />
              <button>+</button>
            </div>
            <div class="item-price">unsigned int Ft</div>
            <button class="remove-item">✖</button>
          </div>
        </div>

        <div class="summary">
          <h3>Rendelés összegző:</h3>
          <p>Teljes összeg: 1234 Ft</p>
          <p>Kiszállítási díj: 234 Ft</p>
          <p>Rendszerhasználati díj: 125 Ft</p>
          <hr />
          <p>Összesen: 1234 Ft</p>
          <button onclick="redirectToOrderPage()">
            Tovább a megrendeléshez
          </button>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script>
      function redirectToOrderPage() {
        window.location.href = "./order.html";
      }
    </script>
  </body>
</html>
