<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ByteBites Bejelentkezés</title>
    <link rel="stylesheet" href="../src/css/login.css" />
  </head>
  <body>
    <header>
      <a href="../index.html"><h1>BYTEBITES</h1></a>
    </header>
    <div class="center-wrapper">
      <div class="container">
        <div class="image-section">
          <img src="../src/img/elsodleges/login01.jpg" alt="Étel kép" />
        </div>
        <div class="login-section">
          <h2>Örülök,<br />hogy újra itt vagy!</h2>
          <p>Nincs még fiókod? <a href="./register.html">Regisztráció</a></p>
          <form>
            <label for="email">Mi az e-mail címed?</label>
            <input type="email" id="email" required />

            <label for="password">Mi a jelszód?</label>
            <div class="password-container">
              <input type="password" id="password" required />
            </div>

            <p class="error-message">Hibaüzenetek.</p>
            <button type="submit">Belépés</button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <div>
          <h4>ByteBites partner</h4>
          <a href="#">Futárként</a>
          <a href="#">Éttermeként</a>
        </div>
        <div>
          <h4>Cég</h4>
          <a href="#">Rólunk</a>
          <a href="#">Mit képviselünk</a>
          <a href="#">Állások</a>
          <a href="#">Biztonság</a>
          <a href="#">Befektetők</a>
        </div>
        <div>
          <h4>Hasznos linkek</h4>
          <a href="#">Ügyfélszolgálat</a>
          <a href="#">Adatkezelés</a>
          <a href="#">Kapcsolat</a>
        </div>
        <div>
          <h4>Kövess minket</h4>
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
          <a href="#">Griff</a>
          <a href="#">LinkedIn</a>
          <a href="#">X</a>
        </div>
      </div>
    </footer>
  </body>
</html>
