<!DOCTYPE html>
<html lang="hu">
<head th:replace="~{fragments/header :: head(cssFile='restaurant.css')}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="restaurant-menu-content">
  <section class="restaurant-details">
    <div class="restaurant-image">
      <img th:src="${restaurant.picture_url}" alt="Restaurant Image" />
    </div>
    <div class="restaurant-info">
      <p>Kategóriák: <span th:text="${restaurant.category.categoryName}"></span></p>
      <h3 th:text="${restaurant.restaurantName}">Étterem neve</h3>
      <p>
        Kiszállítási összeg: <span th:text="${restaurant.deliveryFee}"></span> Ft, Rendszerhasználati díj: 150 Ft
      </p>
      <p>Étterem címe: <span th:text="${restaurant.address.city}"></span>, <span th:text="${restaurant.address.streetName}"></span>, <span th:text="${restaurant.address.houseNumber}"></span></p>
      <p>Telefonszám: <span th:text="${restaurant.phone_number}"></span></p>
      <p>Weboldal: <a th:href="${restaurant.website}" th:text="${restaurant.website}"></a></p>
    </div>
    <button class="favorite-button">❤️ Hozzáadás a kedvencekhez</button>
  </section>

  <section class="menu-items">
    <h2>Ételek</h2>
    <div class="menu-item" th:each="dish : ${dishes}">
      <div class="item-info">
        <h5 th:text="${dish.name}">Étel neve</h5>
        <p th:text="${dish.price} + ' Ft'">Étel ára</p>
        <p th:text="${dish.description}">Leírás</p>
      </div>
      <div class="item-image">
        <img th:src="${dish.picture_url}" alt="Étel képe" />
      </div>
      <button class="add-button">+</button>
    </div>
  </section>
  <script th:src="@{/js/restaurant.js}"></script>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>