<!DOCTYPE html>
<html lang="hu">
<head th:replace="~{fragments/header :: head(cssFile='restaurant.css')}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="restaurant-menu-content">
  <section class="restaurant-details">
    <div class="restaurant-image">
      <img th:src="${restaurant.picture_url}" alt="Restaurant Image" />
    </div>
    <div class="restaurant-info">
      <p>Kategóriák: <span th:text="${restaurant.category.categoryName}"></span></p>
      <h3 th:text="${restaurant.restaurantName}">Étterem neve</h3>
      <p>
        Kiszállítási összeg: <span th:text="${restaurant.deliveryFee}"></span> Ft, Rendszerhasználati díj: 150 Ft
      </p>
      <p>Étterem címe: <span th:text="${restaurant.address.city}"></span>, <span th:text="${restaurant.address.streetName}"></span>, <span th:text="${restaurant.address.houseNumber}"></span></p>
      <p>Telefonszám: <span th:text="${restaurant.phone_number}"></span></p>
      <p>Weboldal: <a th:href="${restaurant.website}" th:text="${restaurant.website}"></a></p>
    </div>
    <button class="favorite-button">❤️ Hozzáadás a kedvencekhez</button>
  </section>

  <nav class="menu-navigation">
    <button th:each="menu : ${restaurant.menus}" th:text="${menu.name}"></button>
    <div class="search-bar">
      <input type="text" placeholder="Keresés a menüben" />
      <button class="search-button">🔍</button>
    </div>
  </nav>

  <section class="menu-items">
    <div class="menu-category" th:each="menu : ${restaurant.menus}">
      <h4 th:text="${menu.name}">Menü1</h4>
      <div class="menu-item" th:each="dish : ${menu.dishes}">
        <div class="item-info">
          <h5 th:text="${dish.name}">Étel neve</h5>
          <p th:text="${dish.price} + ' Ft'">Étel ára Ft</p>
          <p th:text="${dish.description}">További jellemzők, leírás, stb.</p>
        </div>
        <div class="item-image">
          <img th:src="${dish.picture_url}" alt="Dish Image" />
        </div>
        <button class="add-button">+</button>
      </div>
    </div>
  </section>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>