body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7d3fe3, #00d4d8);
  min-height: 100vh;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.container {
  display: flex;
  max-width: 1000px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: stretch;
  margin: auto 0;
}

.image-section {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-section {
  width: 55%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.login-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-section p {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin: 5px 0;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input[type="password"] {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 14px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

button {
  padding: 10px;
  background-color: #00a4a2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #007f7d;
}
