body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #7d3fe3,
    #00d4d8
  ); /* Háttér színátmenet */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.center-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px; /* Fejléc távolság */
  padding-bottom: 80px; /* Footer távolság */
}

.container {
  display: flex;
  max-width: 1000px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: stretch; /* A kép és a regisztrációs rész teljes magasságban legyen */
}

.image-section {
  width: 45%; /* A kép szélessége */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-section img {
  width: 100%; /* A kép teljesen kitölti a szekciót */
  height: 100%;
  object-fit: cover; /* Arányos kitöltés a teljes területre */
}

.register-section {
  width: 55%; /* A szöveges rész szélessége */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.register-section p {
  margin-bottom: 10px;
}

.register-section form {
  display: flex;
  flex-direction: column;
}

.register-section label {
  font-size: 14px;
  margin: 5px 0;
}

.register-section input[type="text"],
.register-section input[type="email"],
.register-section input[type="password"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-section .password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.register-section .password-container input[type="password"] {
  width: 100%;
}

.register-section .error-message {
  color: red;
  font-size: 14px;
}

.register-section button {
  padding: 10px;
  background-color: #00a4a2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-section button:hover {
  background-color: #007f7d;
}
